<site-layout>
  <@title>
    Layouts
  </@title>
  <@content>
  <div.content-holder>
      <side-bar />
  </div>
  <div.footer>
    <span>
      other errors: 0
    </span>
    <span.right-align>
      <button>Done</button>
    </span>
  </div>
  </@content>
</site-layout>
